.container-nav {
    margin-right: auto;
    margin-left: auto;
    padding: 25px 20px 25px 20px;
    
}

.m-20 {
    padding: 0px 0px 0px 60px;
}
.m-21 {
    text-align: center;
}
.m-22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: auto;
    height: 500px;
    margin: auto;
    padding-left: 60px;;
}


div.container.altura {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    z-index: 1;
}
div.hero.posicion {
    margin-top: 84px;
}

div.ellipse-1 {
    margin: auto;
    position: relative;
    top:30px;
    bottom: 30px;
    width: 200px;
    height: 200px;
    clip-path: circle(50%);
    background: linear-gradient(180deg, #c3ffff 0%, #0030eb 100%);
}
div#posicionuno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 500px;
    margin: auto;
}
div.s-circle.uno {
    width: 400px;
    height: 400px;
    background: conic-gradient(from 180deg at 50% 50%, #c3ffff 0deg, #8FD3F4 360deg);
    opacity: 0.5;
    filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}
p, h1.posicion {
    position: relative;
    
}
section.navbar-section.reloj {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5755d9
}
